<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD Operation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="img/tab-bar-icon.png">
    <style>
        body {
    background-color: #e2e2e2
  }


  *{
margin: 0%;
padding: 0;
box-sizing: border-box;
}
.nav {
display: flex;
justify-content: space-between;
align-items: end;
text-align: center;
position: fixed;
}
.margin
{
margin-left: 50%;
}
.navbar-nav .nav-item .nav-link {
color: white;
text-shadow: 1px 1px 1px #000;
padding: 0 20px;
}
.logo img
{
width: 100px;
height: 60px;
}
@media only screen and (max-width: 750px) {
.margin
{
    margin-left: 0;
}
}
.navbar-brand img{
width: 100px;
height: 60px;
}
  
  .card {
    background-color: #fff;
    border: none;
    width: 17rem;
    border-radius: 5px;
    justify-content: space-evenly;
  }
  
  @media(max-width:1024px)
  {
    .card-container{
      justify-content: center;
    }
    .card{
      width: 16rem;
    }
  }
  @media(max-width:734px)
  {
    .search-bar{
      width: 24rem !important;
    }
    .btn-add {
      width: 7rem;
    }
    .btn-del {
      width: 7rem;
    }
  }
  @media(max-width:450px)
  {
    .search-bar{
      width: 22.5rem !important;
    }
    .btn-add {
      width: 12rem;
    }
    .btn-del {
      width: 9rem;
    }
  }
  @media(max-width:377px)
  {
    .search-bar{
      width: 19rem !important;
    }
    .btn-add {
      width: 8.5rem;
    }
    .btn-del {
      width: 9rem;
    }
  }
  
  @media(max-width:322px)
  {
    .search-bar{
      width: 15.8rem !important;
    }
    .btn-add {
      width: 7rem;
    }
    .btn-del {
      width: 7rem;
    }
  }
  
  .search-bar
  {
    border-radius: 4px;
    width: auto;
    border: 1px solid rgb(194, 194, 194);
  }
  
  .form-control {
    margin-top: 10px;
    height: 40px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px
  }
  
  .form-control-discription{
    margin-top: 10px;
    width: 100%;
    text-align: top;
    height: 7rem;
    border: 2px solid #eee;
    border-radius: 5px
  }
  
  .form-control:focus {
    box-shadow: none;
    border: 1.5px solid #039BE5
  }
  
  .confirm-button {
      height: 40px;
      width: 100%;
    border-radius: 2px
  }
  
  .btn-danger, .btn-primary, .btn-success, .btn-secondary
  {
    justify-content: center;
    border-radius: 3px;
  }
  
  .submitButton
  {
    background-color: rgb(73, 73, 255);
    color: white;
    border-radius: 4px;
  }
  
  .submitButton:hover
  {
    background-color: rgb(0, 0, 207);
    color: white;
  }
  
  .img-fluid{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  } 
  .btn-add::placeholder {
  color: deeppink;
}
  
    </style>
  </head>
  <body>

    <div >
      <nav class="navbar navbar-expand-lg  " style="background-color: #f47c00;">
        <div class="container">
          <div>
      
              <a class="navbar-brand" href="#"><img src="./images/16 sanskar.jpg" alt="#"></a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse  " id="navbarNav">
              <!-- <a class="navbar-brand" href="#">My Website</a> -->
            <ul class="navbar-nav margin">
             <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Vendor Profile
                </a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">logout <i class="fa fa-sign-in" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link" href="#">Add product <i class="fa fa-user" aria-hidden="true"></i></a> -->
                <button  type='button' data-bs-toggle='modal' data-bs-target='#addDataModal' class='btn btn-success' style="width: 100%; border: none; background-color:#f47c00;">Add Product <i class="fa fa-user" aria-hidden="true"></i></button>
             
              </li>
            </ul>
          </div>
        </div>
      </nav>
      </div>




  <div class="container card-body-all">
      <div class="card-container d-flex flex-wrap" id="curd-table">
        <div>
          <div class='row gx-2'>
          <div class='col'> 
          <div class='p-3'>
          <div class='card d-flex card-all'>
          <div class='card-body'style=" height: 11rem; width: 16rem;">
          <h5 class='card-title text-center'><strong>Item No.-</strong> 1 </h5>
          <img src="/images/dryfruits.webp"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
          </div>
          <ul class='list-group list-group-flush'>
          <li class='list-group-item'><strong>Product -</strong> Dryfruits plate  </li>
          <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
          <li class='list-group-item'><strong>Price -</strong>300$</li>
          </ul>
          <div class='card-body text-center'>
         
           <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 45%; border: none;  background-color:#f47c00;">Edit</button>
         
           <button  type='button' class='btn btn-danger' style="width: 49%; border: none;  background-color:black">Delete</button>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>

          <!-- ------------------------------------------------------------------------------ -->
          <div>
            <div class='row gx-2'>
            <div class='col'> 
            <div class='p-3'>
            <div class='card d-flex card-all'>
            <div class='card-body'style=" height: 11rem; width: 16rem;">
            <h5 class='card-title text-center'><strong>Item No.-</strong> 2 </h5>
            <img src="/images/Copper_kalash.jpeg"class="card-img-top" alt='Image' style=" height: 8rem; width: 14rem;">
            </div>
            <ul class='list-group list-group-flush'>
            <li class='list-group-item'><strong>Product -</strong> Copper kalash  </li>
            <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
            <li class='list-group-item'><strong>Price -</strong>100$</li>
            </ul>
            <div class='card-body text-center'>
           
             <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%; border: none; background-color:#f47c00;">Edit</button>
           
             <button  type='button' class='btn btn-danger' style="width: 49%; border: none; background-color:black">Delete</button>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <!-- ----------------------------------------------------------------- -->
            <div>
              <div class='row gx-2'>
              <div class='col'> 
              <div class='p-3'>
              <div class='card d-flex card-all'>
              <div class='card-body'style=" height: 11rem; width: 16rem;">
              <h5 class='card-title text-center'><strong>Item No.-</strong> 3 </h5>
              <img src="/images/hawan_pujan_samgri.webp"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
              </div>
              <ul class='list-group list-group-flush'>
              <li class='list-group-item'><strong>Product -</strong> Hawan-pujan-samgri  </li>
              <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
              <li class='list-group-item'><strong>Price -</strong>85$</li>
              </ul>
              <div class='card-body text-center'>
             
               <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%; border: none; background-color:#f47c00;">Edit</button>
             
               <button  type='button' class='btn btn-danger' style="width: 49%; border: none; background-color:black">Delete</button>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              <!-- -------------------------------------------------------------------------- -->
              <div>
                <div class='row gx-2'>
                <div class='col'> 
                <div class='p-3'>
                <div class='card d-flex card-all'>
                <div class='card-body'style=" height: 11rem; width: 16rem;">
                <h5 class='card-title text-center'><strong>Item No.-</strong> 4 </h5>
                <img src="/images/flower1.jpg"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
                </div>
                <ul class='list-group list-group-flush'>
                <li class='list-group-item'><strong>Product -</strong> Flowers  </li>
                <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
                <li class='list-group-item'><strong>Price -</strong>25$</li>
                </ul>
                <div class='card-body text-center'>
               
                 <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%; border: none; background-color:#f47c00;">Edit</button>
               
                 <button  type='button' class='btn btn-danger' style="width: 49%; border: none; background-color:black">Delete</button>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                <!-- ------------------------------------------------------------------------------------- -->
                <div>
                  <div class='row gx-2'>
                  <div class='col'> 
                  <div class='p-3'>
                  <div class='card d-flex card-all'>
                  <div class='card-body'style=" height: 11rem; width: 16rem;">
                  <h5 class='card-title text-center'><strong>Item No.-</strong> 5 </h5>
                  <img src="/images/mograagarbatti.jpg"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
                  </div>
                  <ul class='list-group list-group-flush'>
                  <li class='list-group-item'><strong>Product -</strong> Agarbati  </li>
                  <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
                  <li class='list-group-item'><strong>Price -</strong>40$</li>
                  </ul>
                  <div class='card-body text-center'>
                 
                   <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%;border: none; background-color:#f47c00;">Edit</button>
                 
                   <button  type='button' class='btn btn-danger' style="width: 49%; border: none; background-color:black">Delete</button>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  <!-- ------------------------------------------------------------------------------------ -->
                  <div>
                    <div class='row gx-2'>
                    <div class='col'> 
                    <div class='p-3'>
                    <div class='card d-flex card-all'>
                    <div class='card-body'style=" height: 11rem; width: 16rem;">
                    <h5 class='card-title text-center'><strong>Item No.-</strong> 6 </h5>
                    <img src="/images/Ashtamangala_Set.jpeg"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
                    </div>
                    <ul class='list-group list-group-flush'>
                    <li class='list-group-item'><strong>Product -</strong>Ashtamangala Set  </li>
                    <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
                    <li class='list-group-item'><strong>Price -</strong>185$</li>
                    </ul>
                    <div class='card-body text-center'>
                   
                     <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%;border: none; background-color:#f47c00;">Edit</button>
                   
                     <button  type='button' class='btn btn-danger' style="width: 49%; border: none;background-color:black">Delete</button>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <!-- ----------------------------------------------------------------------------------------- -->
                    <div>
                      <div class='row gx-2'>
                      <div class='col'> 
                      <div class='p-3'>
                      <div class='card d-flex card-all'>
                      <div class='card-body'style=" height: 11rem; width: 16rem;">
                      <h5 class='card-title text-center'><strong>Item No.-</strong> 7 </h5>
                      <img src="/images/kumkum.jpeg"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
                      </div>
                      <ul class='list-group list-group-flush'>
                      <li class='list-group-item'><strong>Product -</strong>Kumkum Box </li>
                      <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
                      <li class='list-group-item'><strong>Price -</strong>85$</li>
                      </ul>
                      <div class='card-body text-center'>
                     
                       <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%;border: none; background-color:#f47c00;">Edit</button>
                     
                       <button  type='button' class='btn btn-danger' style="width: 49%;border: none;background-color:black">Delete</button>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      <!-- ----------------------------------------------------------------------- -->
                      <div>
                        <div class='row gx-2'>
                        <div class='col'> 
                        <div class='p-3'>
                        <div class='card d-flex card-all'>
                        <div class='card-body'style=" height: 11rem; width: 16rem;">
                        <h5 class='card-title text-center'><strong>Item No.-</strong> 8</h5>
                        <img src="/images/morpankh.jpeg"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
                        </div>
                        <ul class='list-group list-group-flush'>
                        <li class='list-group-item'><strong>Product -</strong> Peacock Feather (Mor Pankh)  </li>
                        <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
                        <li class='list-group-item'><strong>Price -</strong>15$</li>
                        </ul>
                        <div class='card-body text-center'>
                       
                         <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%;border: none; background-color:#f47c00;">Edit</button>
                       
                         <button  type='button' class='btn btn-danger' style="width: 49%;border: none;background-color:black">Delete</button>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <!-- -------------------------------------------------------------------------- -->
                        <div>
                          <div class='row gx-2'>
                          <div class='col'> 
                          <div class='p-3'>
                          <div class='card d-flex card-all'>
                          <div class='card-body'style=" height: 11rem; width: 16rem;">
                          <h5 class='card-title text-center'><strong>Item No.-</strong> 9</h5>
                          <img src="/images/diya.jpeg"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
                          </div>
                          <ul class='list-group list-group-flush'>
                          <li class='list-group-item'><strong>Product -</strong> Brass Oil Lamp (Deepak)  </li>
                          <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
                          <li class='list-group-item'><strong>Price -</strong>85</li>
                          </ul>
                          <div class='card-body text-center'>
                         
                           <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%;border: none; background-color:#f47c00;">Edit</button>
                         
                           <button  type='button' class='btn btn-danger' style="width: 49%;border: none;background-color:black">Delete</button>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          <!-- ------------------------------------ -->
                          <div>
                            <div class='row gx-2'>
                            <div class='col'> 
                            <div class='p-3'>
                            <div class='card d-flex card-all'>
                            <div class='card-body'style=" height: 11rem; width: 16rem;">
                            <h5 class='card-title text-center'><strong>Item No.-</strong> 10</h5>
                            <img src="/images/cowdunk.jpg"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
                            </div>
                            <ul class='list-group list-group-flush'>
                            <li class='list-group-item'><strong>Product -</strong>Cow Dung (Gobar) </li>
                            <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
                            <li class='list-group-item'><strong>Price -</strong>150$</li>
                            </ul>
                            <div class='card-body text-center'>
                           
                             <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%;border: none; background-color:#f47c00;">Edit</button>
                           
                             <button  type='button' class='btn btn-danger' style="width: 49%;border: none;background-color:black">Delete</button>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <!-- -------------------------- -->
                            <div>
                              <div class='row gx-2'>
                              <div class='col'> 
                              <div class='p-3'>
                              <div class='card d-flex card-all'>
                              <div class='card-body'style=" height: 11rem; width: 16rem;">
                              <h5 class='card-title text-center'><strong>Item No.-</strong> 11</h5>
                              <img src="/images/milk.jpeg"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
                              </div>
                              <ul class='list-group list-group-flush'>
                              <li class='list-group-item'><strong>Product -</strong>Milk </li>
                              <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
                              <li class='list-group-item'><strong>Price -</strong>15$</li>
                              </ul>
                              <div class='card-body text-center'>
                             
                               <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%; border: none;background-color:#f47c00;">Edit</button>
                             
                               <button  type='button' class='btn btn-danger' style="width: 49%;border: none;background-color:black">Delete</button>
                              </div>
                              </div>
                              </div>
                              </div>
                              </div>
                              </div>
                              <!-- ----------------------------- -->
                              <div>
                                <div class='row gx-2'>
                                <div class='col'> 
                                <div class='p-3'>
                                <div class='card d-flex card-all'>
                                <div class='card-body'style=" height: 11rem; width: 16rem;">
                                <h5 class='card-title text-center'><strong>Item No.-</strong> 12</h5>
                                <img src="/images/ghee.jpeg"class="card-img-top" alt='Image' style=" height: 10rem; width: 14rem;">
                                </div>
                                <ul class='list-group list-group-flush'>
                                <li class='list-group-item'><strong>Product -</strong>Ghee  </li>
                                <li class='list-group-item h-25'><strong>Description -</strong>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, voluptatem. </li>
                                <li class='list-group-item'><strong>Price -</strong>555$</li>
                                </ul>
                                <div class='card-body text-center'>
                               
                                 <button  type='button' data-bs-toggle='modal' data-bs-target='#exampleModal-2' class='btn btn-success' style="width: 49%;border: none; background-color:#f47c00;">Edit</button>
                               
                                 <button  type='button' class='btn btn-danger' style="width: 49%;border: none;background-color:black">Delete</button>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
      </div>
    <div class="card-container d-flex flex-wrap" id="sort-table"></div>
  </div>
<!-- navbar end -->

<!-- Add Module Start -->
<div class="modal fade" id="addDataModal" tabindex="-1" aria-labelledby="addDataModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="form">
          <div class="modal-header">
              <h1 class="modal-title fs-5" style="color: #f47c00;" id="addDataModal">Add Product</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="name"  placeholder="Enter Item Id"
                      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                      <small id="name-error-msg" style="color: red;"></small>
              </div>
                  <div class="form-group">
                      <input type="text" class="form-control" id="name" placeholder="Enter Product name"
                          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                          <small id="name-error-msg" style="color: red;"></small>
                  </div>
                  <div class="form-group mt-2">
                      <input type="text" class="form-control" id="price" placeholder="Enter Product Price"
                          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                          <small id="price-error-msg" style="color: red;"></small>
                  </div>
                  <div class="form-group mt-2">
                      <textarea class="form-control h-25" id="description" placeholder="Enter Product Description"
                          rows="3"></textarea>
                          <small id="disc-error-msg" style="color: red;"></small>
                  </div>
                  <div class="form-group mt-2">
                      <input type="file" class="form-control" id="inputGroupFile01">
                      <small id="image-error-msg" style="color: red;"></small>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              
              <button type="submit" style="background-color: #f47c00;" class="btn submitButton w-100" id="submitdata" onclick="AddData()">Add</button>
          </div>
      </div>
  </div>
</div>

<!-- Edit Module Start -->
<div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="form">
        <div class="modal-header">
          <h1 class="modal-title fs-5" style="color: #f47c00;" id="exampleModalLabel">Update Product Data</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form>
          <div class="form-group">
            <div id="image-div"></div>
            <label for="exampleFormControlInput1" style="color: #f47c00;">Product Id -</label>
            <input type="text" class="form-control" id="id-edit" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
          </div>
          <div class="form-group mt-2">
            <label for="exampleFormControlSelect1" style="color: #f47c00;">Name -</label>
          <input type="text" class="form-control" id="name-edit" placeholder="Enter Product name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="form-group mt-2">
            <label for="exampleFormControlSelect1" style="color: #f47c00;">Price -</label>          
            <input type="text" class="form-control" id="price-edit" placeholder="Enter Product Price" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="form-group mt-2">
            <label for="exampleFormControlTextarea1" style="color: #f47c00;">Description -</label>
            <textarea class="form-control h-25" id="description-edit" placeholder="Enter Description of Product" rows="3"></textarea>
          </div>
          <div class="form-group mt-2">
            <label for="exampleFormControlSelect1" style="color: #f47c00;">Product - Image -</label>
            <input type="file" class="form-control" id="image-edit">
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-success w-100" style="background-color: #f47c00; border: none;" id="update">Update</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Module End -->

<!-- Add Module End -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="script/script.js"></script>
  </body>
</html>
