<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
   <style>
    * {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.reg-form {
  display: flex;
  height: 100vh;
  background: linear-gradient(180deg,white, transparent);
}

.form {
  margin: auto;
  padding: 1rem;
  /* border: 1px solid; */
  border-radius: 0.5rem;
  background: url('/images/registration1.jpg')  right bottom;
  filter: drop-shadow(2px 4px 6px #333);
  background-repeat: no-repeat;
  background-size: cover;
}

.title, .action-btn {
  text-align: center;
  margin-bottom: 1.25rem;
  color: #fff;
}

.form-input {
  width: 18.75rem;
  padding: 0.80rem;
  position: relative;
  margin-left: 40px;
}

.floating-label {
  font-size: 13px;
  position: absolute;
  left: 25px;
  top: 26px;
  pointer-events: none;
  padding: 0 0.25rem;
  background: white;
  color: black;
  transition: 0.3s ease all;
}

.floating-input {
  font-size: 13px;
  font-weight: 600;
  display: block;
  width: 100%;
  height: 2.25rem;
  padding: 0 1rem;
  box-sizing: border-box;
  border: 1px solid #272727;
  border-radius: 6px;
  background: white;
  color: black;
  outline: none;
}

.floating-input:focus {
  border: 1px solid black;
}

.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label {
  top: 9px;
  font-size: 11px;
  color:black;
}

.term-and-condition {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.term-and-condition span {
  color:black;
  cursor: pointer;
  margin-right: 130px ;
  /* margin-top: 60px; */
}

.radio-input {
  cursor: pointer;
  filter: invert(1);
}

.btn-reg {
  height: 2rem;
  padding: 0 0.75rem;
  border-radius: 6px;
  line-height: 1.6;
  margin-top: 1.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  background:black;
  color: #fff;
}

.btn-reg:hover {
  background: #0a0a0a;
  border: 1px solidblack;
  transition: 0.3s ease all;
}

.login-redirect {
  font-size: 12px;
  color: #fff;
  margin-left: 100px;
  margin-top: -10px;
}

.login-redirect a {
  color:black;
}
   </style>
       <%- include ('../partials/head'); %>
</head>
<body>
    <div class="reg-form">
        <form action="" class="form">

          <!-- <div><img src="/images/16-sanskar.png" alt="" style="width: 20rem; height: 15rem;"></div> -->
            <div class="form-group col-sm-12">
                <div class="title">
                    <h1>User <span style="color: white">Login</span></h1>
                </div>
                <div class="form-input  md-3" >
                    <input class="floating-input" type="email" placeholder="" required>
                    <label for="" class="floating-label">Email</label>
                </div>
                <div class="form-input md-3">
                    <input class="floating-input" type="password" placeholder="" required>
                    <label for="" class="floating-label">Password</label>
                </div>
                <div class="term-and-condition ">
                    <input type="checkbox" class="radio-input" id="tandc" required>
                    <label for="tandc" class="radio-label">
                        Remember<span> me</span>
                    </label>
                    <!-- <div class="login-redirect md-3">
                    Already a member? <a href="#">Login</a>
                </div> -->

                </div>
                <div class="action-btn">
                    <button class="btn-reg" type="submit">login </button>
                </div>
                <div class="login-redirect">
                    Don't have an account <a href="#">Sign up</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>