<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor</title>

    <style>
        .text
        {
            font-size: 18px;
            font-weight: 400;
        }

    </style>
    
       <%- include('../partials/head'); %>

</head>
<body>
    <div  class="card  m-auto " style="width: 25rem; background-color: #f47c00;  margin-top: 8%!important;">
        <img src="/images/16-sanskar.png" class="card-img-top" alt="...">
        <div class="card-body ">
           


            <table cellpadding="2" width="100%" class="mt-2" >
                <form action="post">
                    <tr>
                        <td class="text"> Name:-</td><td class="text">Andrew Anderson</td>
                    </tr>
                    <tr class="text">
                        <td >Contact No.:-  </td><td>111-222-3333</td> 
                    </tr>
                  
                    <tr class="text">
                        <td >Email:-   </td><td>Example@gmail.com</td> 
                    </tr>

                    <tr class="text">
                        <td >Password:-   </td><td>Vendor@123</td> 
                    </tr>
                    <tr class="text">
                        <td >Address:-   </td><td>Street No. 216 New York</td> 
                    </tr>
                   
                    
                    <tr>
                        
                        <td colspan="2">
                            <center>

                                <button type="button" class="btn btn-outline-danger text-center mt-2 ">Edit Profile</button>
                            </center>
                        </td>
                    </tr>
                 
                </form>
                
                    
                
            </table>
        </div>
      </div>
</body>
</html>
